<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeiraOportunidade"
        tools:targetApi="31">
        <activity
            android:name=".Premium"
            android:exported="false" />
        <activity
            android:name=".TestExecutionActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Chatbot"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CommunityStep4"
            android:exported="false" />
        <activity
            android:name=".CommunityStep3"
            android:exported="false" />
        <activity
            android:name=".CommunityStep2"
            android:exported="false" />
        <activity
            android:name=".CommunityStep1"
            android:exported="false" />
        <activity
            android:name=".AptitudeTests"
            android:exported="false" />
        <activity
            android:name=".CurriculumAnalysis"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CandidateDetails"
            android:exported="false" />
        <activity
            android:name=".Companies"
            android:exported="false" />
        <activity
            android:name=".MyApplications"
            android:exported="false" />
        <activity
            android:name=".Community"
            android:exported="false" />
        <activity
            android:name=".CoursesRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdditionalDataRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AcademicDataRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CurriculumRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyVacancies"
            android:exported="false" />
        <activity
            android:name=".QuestionRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".VacancyRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ResetPassword"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Vacancies"
            android:exported="false" />
        <activity
            android:name=".CompanyRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserRegister"
            android:exported="false" />
        <activity
            android:name=".SelectUser"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="false" />
        <activity
            android:name=".CarouselStep3"
            android:exported="false" />
        <activity
            android:name=".CarouselStep2"
            android:exported="false" />
        <activity
            android:name=".CarouselStep1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".StartScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>